.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
	text-align: center;
	font-size: 26px;
}

.sub-title {
  text-align: left;
  font-size: 20px;
}

input {
	margin: 5px;
}

.reminder-form {
	padding: 5px;
}

.list-item {
	display: inline-block;
}

.delete-button {
	padding-left: 5px;
	float: right;
	cursor: pointer;
}
